{{extend 'layout.html'}}
<a href='/{{=request.application}}/{{=request.controller}}/view/' class="btn btn-info btn-lg active" role="button" aria-pressed="true">Mascotas</a>
<br>
<br>
<h1>Asistencia y Bonos de {{=record.nombre}}</h1>
<br>
<a class="btn btn-info" href='/{{=request.application}}/registro/view_mascota/{{=record.id}}' role="button">Acceder a asistencias</a>
<br><br>
<h4>Bonos actuales de {{=record.nombre}}:</h4>
{{ for bono in dict_bonos :}}
    <a href='/{{=request.application}}/bonos/update/{{=bono.id}}'>{{=bono.tipo_bono.tipo_bono}}</a>
{{ pass }}
<br><br>
<h1>Información de {{=record.nombre}}</h1>
<br><br>
{{=form}}

{{ if record.modified_by: }}
<div class="container center">
    <a>Última modificación: {{=record.modified_on}}</a>
    <br>
    <a>Hecha por: {{=record.modified_by.first_name}}</a>
</div>
{{ pass }}