{{extend 'layout.html'}}
<div class="btn-group mr-2 btn-group-lg" role="group" aria-label="Second group">
    <a class="btn btn-info" href='/{{=request.application}}/{{=request.controller}}/view' role="button">Asistencias</a>
</div>
<br>
<br>
<h4>Bonos actuales de {{=record.mascota.nombre}}:</h4>
<table class='table table-striped table-hover'>
<tr>
    <th>Tipo de Bono</th>
    <th>Caducidad</th>
    <th>Por consumir</th>
    <th>Seleccion Manual</th>
</tr>
{{ for bono in dict_bonos :}}
    <tr>
        {{ if bono.tipo_bono.tipo_bono.find("10")!=-1 or bono.tipo_bono.tipo_bono.find("mes")!=-1 : }}
        <td><a href='/{{=request.application}}/bonos/update/{{=bono.id}}'>{{=bono.tipo_bono.tipo_bono}}</a></td>
        {{if bono.duracion_expira < hoy :}}
        <td><a style="color:red;" href='/{{=request.application}}/bonos/update/{{=bono.id}}'>{{=bono.duracion_expira}}</a></td>
        {{else:}}
        <td><a href='/{{=request.application}}/bonos/update/{{=bono.id}}'>{{=bono.duracion_expira}}</a></td>
        {{ pass }}
        {{if bono.tipo_bono.tipo_bono.find("mes")==-1 :}}
            {{if bono.dias_resto == 0 :}}
            <td><a style="color:red;" href='/{{=request.application}}/bonos/update/{{=bono.id}}'>{{=bono.dias_resto}}</a> &emsp;
            {{else:}}
            <td><a href='/{{=request.application}}/bonos/update/{{=bono.id}}'>{{=bono.dias_resto}}</a></td>
            {{pass}}
        {{else:}}
        <td><a href='/{{=request.application}}/bonos/update/{{=bono.id}}'>-</a></td>
        {{pass}}
        <td><a class="btn btn-info" href='/{{=request.application}}/{{=request.controller}}/registrar/{{=record.id}}/{{=bono.id}}/{{=now}}' role="button">Usar bono</a></td>
        {{pass}}
        {{ else: }}
        {{ pass}}
    </tr>
    
{{ pass }}
</table>
<br>
<h4>Registrar hora de salida de {{=record.mascota.nombre}}</h4>
<br>
{{=form}}
<br>
{{ if bono_matcheado :}}
    <h4>Confirma el bono que se va a usar:</h4>
    <table class='table table-striped table-hover'>
        <tr>
            <th>Tipo de Bono</th>
            <th>Caducidad</th>
            <th>Por consumir</th>
        </tr>
        <tr>
            <td><a href='/{{=request.application}}/bonos/update/{{=asistencia_output[1].id}}'>{{=asistencia_output[1].tipo_bono.tipo_bono}}</a></td>
            {{if asistencia_output[1].duracion_expira < hoy :}}
            <td><a style="color:red;" href='/{{=request.application}}/bonos/update/{{=asistencia_output[1].id}}'>{{=asistencia_output[1].duracion_expira}}</a></td>
            {{else:}}
            <td><a href='/{{=request.application}}/bonos/update/{{=asistencia_output[1].id}}'>{{=asistencia_output[1].duracion_expira}}</a></td>
            {{ pass }}
            {{if asistencia_output[1].tipo_bono.tipo_bono.find("mes")==-1 :}}
                {{if asistencia_output[1].dias_resto == 0 :}}
                <td><a style="color:red;" href='/{{=request.application}}/bonos/update/{{=asistencia_output[1].id}}'>{{=asistencia_output[1].dias_resto}}</a> &emsp;
                {{else:}}
                <td><a href='/{{=request.application}}/bonos/update/{{=asistencia_output[1].id}}'>{{=asistencia_output[1].dias_resto}}</a></td>
                {{pass}}
            {{else:}}
            <td><a href='/{{=request.application}}/bonos/update/{{=asistencia_output[1].id}}'>-</a></td>
            {{pass}}
                
        </tr>
    </table>
    <a class="btn btn-info" href='/{{=request.application}}/{{=request.controller}}/registrar/{{=asistencia_output[0].id}}/{{=asistencia_output[1].id}}/{{=form.vars.salida}}' role="button">Guardar</a>
    </div>

{{pass}}

<br>
<br>
