{{extend 'layout.html'}}

<div class="btn-group mr-2 btn-group-lg" role="group" aria-label="Second group">
    <a class="btn btn-info" href='/{{=request.application}}/{{=request.controller}}/add' role="button">Registrar entrada</a>
</div>

<br><br><br>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href='/{{=request.application}}/{{=request.controller}}/view/mes'>Mes pasado-</a></li>
        <li class="page-item"><a class="page-link" href='/{{=request.application}}/{{=request.controller}}/view/semana'>Semana pasada-</a></li>
        <li class="page-item"><a class="page-link" href='/{{=request.application}}/{{=request.controller}}/view/ayer'>Ayer-</a></li>
        <li class="page-item"><a class="page-link" href='/{{=request.application}}/{{=request.controller}}/view/'>HOY</a></li>
    </ul>
</nav>

<table class='table table-striped table-hover'>
    <tr>
        <th>Macota</th>
        <th>Hora entrada</th>
        <th>Hora salida</th>
        <th>Caduca</th>
        <th>Tipo de Bono</th>
    </tr>
    {{ for x in rows: }}
    <tr>
        <td><a href='/{{=request.application}}/mascotas/update/{{=x.mascota}}'>{{=x.mascota.nombre}}</a></td>
        <td>{{=x.entrada}}</a></td>
        {{if x.bono_usado :}}
        <td>{{=x.salida}}</a></td>
        {{else:}}
        <td>
            <a class="btn btn-info" href='/{{=request.application}}/{{=request.controller}}/salida/{{=x.id}}' role="button">Registrar salida</a>
        </td>
        {{pass}}

        {{if x.bono_usado :}}
        <td>{{=x.caducidad}}</td>
        {{else:}}
        <td>pendiente</td>
        {{pass}}
        
        {{if x.bono_usado :}}
        <td>{{=x.bono_usado}}</td>
        {{else:}}
        <td>pendiente</td>
        {{pass}}
        
    </tr>
    {{ pass }}
</table>
